@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #3f3535;
  --foreground: #ededed;
  --primary: #2a2321;
  --textprimary: #d4af37;
  --textsecondary: #947201;
  --textgray: #5f5f5f;
  --secondary: #221c1b;
  --black: #1a1a1a;
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-textprimary: var(--textprimary);
  --color-textsecondary: var(--textsecondary);
  --color-textgray: var(--textgray);
  --color-secondary: var(--secondary);
  --color-black: var(--black);
  --font-cardinal: var(--cardinal);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer utilities{
  .main{
    @apply flex items-center justify-center flex-col my-5 md:pt-30 pt-5;
  }
  .main-two{
    @apply flex items-center md:h-[calc(100vh-150px)] min-h-[400px] flex-col justify-center;
  }
  .header{
    @apply px-5 py-3 bg-primary shadow-sm text-textprimary;
  }
  .footer{
    @apply px-5 py-3 bg-primary shadow-sm text-textprimary flex justify-between items-center md:flex-row flex-col;
  }
  .heading{
    @apply md:text-7xl text-5xl lg:text-9xl text-textprimary font-cardinal;
  }
  .subheading{
    @apply m-5 md:text-3xl text-2xl lg:text-5xl text-textprimary font-cardinal;
  }
  .login-container{
    @apply bg-primary p-8 rounded-lg shadow w-full max-w-md;
  }
  .github-login-button{
    @apply bg-secondary w-full p-4 text-center text-textprimary text-xl border border-textsecondary rounded;
  }
  .homepage-button{
    @apply border-textprimary text-textprimary border-4 md:px-10 px-8 py-2 mx-2 md:text-2xl text-xl rounded-4xl hover:bg-textprimary hover:text-primary;
  }
  .login-text-area{
    @apply w-full p-2 border rounded border-textprimary my-3;
  }
  .submit-button{
    @apply bg-secondary w-full p-2 text-center text-textprimary text-xl border border-textsecondary rounded my-3 hover:bg-textprimary hover:text-primary;
  }
  .buy-container{
    @apply bg-primary shadow-sm relative mx-auto flex w-full max-w-[800px] flex-col space-y-2.5 p-10 rounded-2xl;
  }
  .update-grid{
    @apply grid grid-cols-1;
  }
  .comment-grid{
    @apply columns-1 md:columns-2 lg:columns-3 gap-3 p-4;
  }
  .update-card{
    @apply bg-primary border-[5px] border-black rounded-2xl shadow-black hover:border-textprimary transition-all duration-500 hover:shadow-black lg:min-w-[1000px] md:min-w-[700px] my-4 max-w-screen;
  }
  .comment-card{
    @apply bg-primary border-[3px] border-textprimary rounded-2xl transition-all duration-500 hover:shadow-black max-w-[500px] min-w-[100px] min-h-[50px] mb-2 break-inside-avoid;
  }
  .update-card-upper-part{
    @apply flex flex-row justify-between rounded-2xl px-5 py-7 min-h-[300px];
  }
  .comment-btn{
    @apply block text-textprimary py-2 px-5 rounded-xl bg-primary mx-5 w-fit hover:bg-textprimary hover:text-primary;
  }
  .Comment-form-input{
    @apply rounded-xl text-textprimary px-3;
  }
  .comment-form-label{
    @apply text-textprimary pl-2 text-xl;
  }
  .comment-form-error{
    @apply text-red-500 text-sm;
  }
  .comment-form-textarea{
    @apply text-textprimary rounded-xl box-border resize-none overflow-hidden border px-3 py-2;
  }
  .comment-form-part{
    @apply mt-2;
  }
  .comment-form-mdeditor{
    @apply bg-primary text-textprimary;
  }
  .comment-form-btn{
    @apply px-5 py-3 my-6 border-textprimary bg-secondary w-fit flex flex-row rounded-xl border-3 text-textprimary text-xl hover:text-secondary hover:bg-textprimary;
  }
  .profile-card{
    @apply text-textprimary bg-primary relative flex flex-col shadow-black md:min-w-[600px] min-w-[400px] sm:min-w-[50px] sm:max-w-[screen] items-center justify-between px-8 py-6 mt-4 rounded-2xl;
  }
  .profile-comment-grid{
    @apply grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-2 mt-3 mx-5;
  }
  .comment-card-profile{
    @apply bg-primary border-[3px] border-textprimary rounded-2xl transition-all duration-500 hover:shadow-black min-w-[300px];
  }
  .editProfile-form{
    @apply bg-primary rounded-2xl min-w-[400px] mt-5 flex flex-col justify-between px-6 py-8;
  }
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

