@import "tailwindcss";

:root {
  --background: #2a2321;
  --foreground: #392f2f;
  --primary: #2a2321;
  --textprimary: #d4af37;
  --secondary: #221c1b;
  --black: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-textprimary: var(--textprimary);
  --color-secondary: var(--secondary);
  --color-black: var(--black);
  --font-cardinal: var(--cardinal);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3f3535;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities{
  .main{
    @apply flex items-center justify-center md:h-screen;
  }
  .header{
    @apply px-5 py-3 bg-primary shadow-sm text-textprimary;
  }
  .login-container{
    @apply bg-primary shadow-sm relative mx-auto flex w-full max-w-[400px] flex-col space-y-2.5 p-4 md:-mt-32;
  }
  .github-login-button{
    @apply bg-secondary w-full p-4 text-center;
  }
}

